<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title }) %>
  <body>
    <!-- prettier-ignore -->
    <%- include('partials/header') %>
    <%- include('partials/navigation') %>
    <div class="content home">
      <h2>Messages</h2>
      <!-- prettier-ignore -->
      <% if (!currentUser) { %>
      <h3>
        Login and become a member to see the authors of the messages and the
        dates
      </h3>
      <% } else if (!currentUser.isMember) { %>
      <h3 class="anonymous">
        Become a member to see the authors of the messages and the dates
      </h3>
      <% } else if (currentUser) { %>
      <h3 class="known">
        Welcome Member <%= `${currentUser.firstName} ${currentUser.lastName}`,
        %>
      </h3>
      <% } %>
      <!-- prettier-ignore -->
      <div class="messages">
        <% locals.allMessages.forEach(message => { %>
        <!-- prettier-ignore -->
        <div class="message">
          <h3><%= message.title %></h3>
          <p><%= message.text %></p>
          <div class="author-date">
            <% if (currentUser && currentUser.isMember) { %>
              <p>Made by: <span class="known"><%= message.author.username %></span>,</p>
              <p>Date: <span class="known"><%= formatMessage(message.timestamp) %></span></p>
            <% } else { %>
              <p>Made by: <span class="anonymous">Anonymous</span></p>
              <p>Date: <span class="anonymous">Date unknown</span></p>
            <% } %>
          </div>
          <% if (currentUser && currentUser.isAdmin) { %>
            <form action="/message/<%= message.id %>/delete" method="post">
              <button type="submit">Delete Message</button>
            </form>
          <% } %>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
