<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title }) %>
  <body>
    <!-- prettier-ignore -->
    <%- include('partials/navigation') %>
    <%- include('partials/header') %>
    <div class="content login">
      <h2>Login</h2>
      <p><%= locals.user ? `Hello ${user.firstName}` : 'ni ma' %></p>
      <form action="/login" method="post">
        <label for="username">Username: </label><br />
        <input type="text" name="username" id="username" required /><br />
        <label for="password">Password: </label><br />
        <input type="password" name="password" id="password" required /><br />
        <div class="errors">
          <% if (locals.errors) { %>
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }); %>
          </ul>
          <% } %>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
