<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title }) %>
  <body>
    <!-- prettier-ignore -->
    <%- include('partials/navigation') %>
    <%- include('partials/header') %>
    <div class="content new-message">
      <h2>Create a new message</h2>
      <form action="" method="post">
        <label for="title">Title: </label><br />
        <input
          type="text"
          name="title"
          id="title"
          value="<%= locals.message ? message.title : '' %>"
        /><br />
        <label for="text">Content of the message: </label><br />
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <div class="errors">
          <% if (locals.errors) { %>
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }); %>
          </ul>
          <% } %>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
